@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$color-sakura: rgb(254, 223, 225);

html, body {
  height: 100%;
}

.full {
  height: 100%;
}

@import "compass/css3";

// TODO:
#s1 {
  background: {
    image: image-url("s1.jpg");
    repeat: no-repeat;
    position: top left;
  };
  @include background-size(cover);
}
#s2 {
  background: {
    image: image-url("s2.jpg");
    repeat: no-repeat;
    position: top left;
  };
  @include background-size(cover);
}

video {
  top: 0;
  left: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
  size: cover;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {}
