@import "compass/utilities/sprites";
@import 'helpers/_variables.scss';
@import "guide/*.png";

@include all-guide-sprites;

#guide {
  background-color: $color-lightly-salted;

  .icon {
    width: 140px;
    height: 140px;
  }
}
