@import "compass/utilities/sprites";
@import "guide/*.png";

@import 'helpers/_variables.scss';

@include all-guide-sprites;

#guide {

  background-color: $color-lightly-salted;

  .icon-circle {
    @extend .img-circle;
    width: 140px;
    height: 140px;
  }
}
