<div id="candidacy">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-5">
        <img class="img-responsive center-block" alt="500x500" src="images/candidacy/candidacy.png">
      </div>
      <div class="col-md-7">
        <h2 class="text-center">{{ 'SAKURA_CANDIDANCY_TITLE' | translate }}</h2>
        <blockquote>
          <p ng-bind-html="'SAKURA_CANDIDANCY' | translate"></p>
          <footer>{{ 'SAKURA_NAME' | translate }} <cite title="{{ 'SAKURA_CANDIDANCY_SOURCE' | translate }}">{{ 'SAKURA_CANDIDANCY_SOURCE' | translate }}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
