<div id="sokuhou">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-6 col-md-push-6">
        <a magnific-popup href="http://player.youku.com/embed/XNzIyNzY0MzY0">
          <img class="img-responsive center-block" src="images/sokuhou/sokuhou.png" alt="570x320" />
        </a>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2 class="text-center">{{ 'SAKURA_SOKUHOU_TITLE' | translate }}</h2>
        <blockquote>
          <p ng-bind-html="'SAKURA_SOKUHOU' | translate"></p>
          <footer>{{ 'SAKURA_NAME' | translate }} <cite title="{{ 'SAKURA_SOKUHOU_SOURCE' | translate }}">{{ 'SAKURA_SOKUHOU_SOURCE' | translate }}</cite></footer>
        </blockquote>
      </div>
    </div>
    <hr>
  </div>
</div>
