<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">今年の総选挙で16位以内にランクインする事です</h2>

<p>こんばんは！</p>
<p>今年も、選抜総選挙が行われることが決定しましたね。</p>
<p>
私は、HKT48のお披露目当初、あまり良い位置ではありませんでした。<br/>
今は、場所など関係なく輝こう！と考えることが出来ますが、入った当初は目に見えるものが立ち位置だけだったので、不安でもあり、悔しかったです。
</p>
<p>
HKTが初めて参加すると聞いたバラエティ番組。
</p>
<p>
番組に参加するのは、五人だけでした。<br/>
その五人に選ばれなくて、メンバーが帰ってくるのを劇場で待ってた時、凄く落ち込んでいました。<br/>
でも、その反面もっと頑張ろうという気持ちが強くなりました。
</p>
<p>
そんな時に開催された選抜総選挙。<br/>
皆さんに応援していただいて、沢山の方の力で、なんとランクインさせて頂きました。<br/>
まだあの頃は、まさかランクイン出来るなんて思ってもいなかったので、本当に感謝の気持ちでいっぱいで、胸が苦しくなったのを覚えてます。
</p>
<p>
この選抜総選挙を境に、色んな事が激変して、沢山のお仕事に呼んで頂けるようになりました。
</p>
<p>
大袈裟かもしれませんが、今私がこうしていられるのは、本当にファンの皆さんのおかげだと思っています。<br/>
正直、怖い気持ちもあります。前回26位というとても素敵な順位を頂いたので、その順位を超えることは出来るかなという不安もあるし、総選挙特有のあの緊張感は今だに慣れません。
</p>
<p>でも、私はチャレンジしたいです。</p>
<p>皆さんと一緒に成長し続けていきたいです。<br/>
傷つくことを恐れはしない。<br/>
何があっても怯まずに、自分の夢を追いかけたい。</p>
<p>こんな私ですが、 応援よろしくお願いします。</p>
<p>さくら咲け！！</p>


  </div>
  <div class="col-md-5">
    <img class="img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-5">
    <img class="img-responsive img-rounded" alt="500x500" src="images/about/about1.png">
  </div>
  <div class="col-md-7">
    <h2 class="text-center">{{ 'SAKURA_MANIFESTO_TITLE' | translate }}</h2>
    <blockquote>
      <p ng-bind-html="'SAKURA_MANIFESTO' | translate"></p>
      <footer>{{ 'SAKURA_NAME' | translate }} <cite title="{{ 'SAKURA_MANIFESTO_SOURCE' | translate }}">{{ 'SAKURA_MANIFESTO_SOURCE' | translate }}</cite></footer>
    </blockquote>
  </div>
</div>
