<!-- TODO: -->
<!-- <div id="s1" class="full" stellar-background-ratio="0.5"> -->
<!--   <video autoplay loop muted>
    <source src="videos/efecto_kinect.mp4" />
    <source src="videos/big_buck_bunny.theora.ogv" />
    <source src="videos/efecto_kinect/efecto_kinect.webmvp8.webm" />
  </video> -->
<!--   <div class="container">
    <div class="carousel-caption">
      <h2>AKB48 37th 選抜総選挙</h2>
      <h1>HKT48 宮脇咲良 応援サイト</h1>
    </div>
  </div> -->
<!-- </div> -->
<hr>
<div class="container" ng-include="'partials/about'"></div>
<hr>
<div class="container marketing" ng-include="'partials/guide'"></div>
<hr>

<div></div>
<div></div>

<!--
<div ng-include="'partials/poster'"></div>
-->
