<!-- TODO: add poster -->
<video autoplay loop muted poster="images/cover/cover.jpg" stellar-ratio="0.5">
  <source src="videos/sakura.webmhd.webm"/>
  <source src="videos/sakura.webmsd.webm"/>
  <source src="videos/sakura.mp4"/>
  <source src="videos/sakura.ogv"/>
</video>

<nav sticky class="navbar navbar-sakura" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- TODO: add official link -->
      <a class="navbar-brand" href="#"><img src="images/navbar/logo.png" alt="" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="cover" class="full">
  <div class="carousel-caption">
    <div class="jumbotron">
      <img tooltip-placement="bottom" tooltip="123" class="img-responsive img-circle center-block" src="images/cover/profile.png" alt="宮脇咲良" />
      <h1>{{ 'SAKURA_NAME' | translate }}</h1>
      <h2>{{ 'SAKURA_TITLE' | translate }}</h2>
    </div>
  </div>
</div>
<!-- <div id="profile" stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <h2>關於 {{ 'SAKURA_NAME' | translate }}</h2>
      </div>
    </div>
    <div class="row" style="color:#ffffff">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">暱稱</p>
            </div>
            <div class="col-xs-9">
              <p class="form-control-static">小櫻花</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">生日</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">1998年3月19日</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">血型</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">A</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">出身地</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">鹿兒島縣</p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">身高</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">160cm</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">興趣</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">音樂劇鑑賞</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">特技</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">繪畫</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3">
              <p class="form-control-static text-muted">特色</p>
            </div>
            <div class="col-sm-9">
              <p class="form-control-static">大耳朵</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div id="about" ng-include="'partials/about'"></div>
<!-- TODO: post -->
<div id="guide" ng-include="'partials/guide'"></div>
<!-- TODO: footer -->
<div id="footer"></div>
