<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>速報第20位</h1>
        <p>得票數：7963票</p>
      </div>
      <!-- <slick infinite=true slides-to-show=3 slides-to-scroll=1 center-mode=true lazy-load='ondemand' class="slider lazy"> -->
        <!-- <div><div class="image"><img data-lazy="images/poster/poster.jpg"/></div></div> -->
        <!-- <div><div class="image"><img data-lazy="images/poster/poster01.jpg"/></div></div> -->
        <!-- <div><div class="image"><img data-lazy="images/poster/poster02.jpg"/></div></div> -->
      <!-- </slick> -->
      <img class="img-responsive center-block" src="images/poster/poster.jpg" alt="" />
    </div>
  </div>
</div>
