//== Colors
//
//## COLOURlovers Palette Sakura-mochi
//## http://www.colourlovers.com/palette/308026/Sakura-mochi_%E6%A1%9C%E9%A4%85
$color-sweetie-pink: rgb(255, 181, 198);
$color-cherry-chiffon: rgb(252, 223, 229);
$color-fg56: rgb(245, 248, 238);
$color-lightly-salted: rgb(226, 233, 212);
$color-down-to-business: rgb(99, 113, 77);
