<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>HKT48 宮脇咲良 台湾応援サイト | AKB48第6回選抜総選挙</title>
    <meta name="description" content="AKB48「37thシングル選抜総選挙」宮脇咲良台湾応援サイト">
    <meta name="viewport" content="width=device-width">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="HKT48 宮脇咲良 台湾応援サイト | AKB48第6回選抜総選挙">
    <meta itemprop="description" content="13歲時加入HKT48的我、現在已經是16歲了。有時會被周圍的人說變成熟了、不僅身高長高了13公分、很多方面也都成長了不少。至今為止的3年、還有今後不管是開心還是難過的日子、都想和粉絲們、以及成員們一起走下去。希望今年的總選舉排名能進入前16名。我明白這是非常困難的事情、現在的自己還有許多不成熟的地方、但是我想要和大家一起越過每一座高山。一直以來溫柔的支持我的大家和成員們、今後也要日日精進、為了讓大家有明天也要繼續加油的想法而努力。應援就拜託大家了。">
    <meta itemprop="image" content="http://cdn.tpe48.com.tw/sakura/images/post_280x150.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:creator" content="@amowu">
    <!-- Page description less than 200 characters -->
    <meta name="twitter:title" content="HKT48 宮脇咲良 台湾応援サイト | AKB48第6回選抜総選挙">
    <meta name="twitter:description" content="13歲時加入HKT48的我、現在已經是16歲了。有時會被周圍的人說變成熟了、不僅身高長高了13公分、很多方面也都成長了不少。至今為止的3年、還有今後不管是開心還是難過的日子、都想和粉絲們、以及成員們一起走下去。希望今年的總選舉排名能進入前16名。我明白這是非常困難的事情、現在的自己還有許多不成熟的地方、但是我想要和大家一起越過每一座高山。一直以來溫柔的支持我的大家和成員們、今後也要日日精進、為了讓大家有明天也要繼續加油的想法而努力。應援就拜託大家了。">
    <!-- Twitter summary card with large image must be at least 280x150px 1MB -->
    <meta name="twitter:image:src" content="http://cdn.tpe48.com.tw/sakura/images/post_280x150.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="HKT48 宮脇咲良 台湾応援サイト | AKB48第6回選抜総選挙" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://sakura.tpe48.com.tw/" />
    <!-- Facebook image size 1200x630px -->
    <meta property="og:image" content="http://cdn.tpe48.com.tw/sakura/images/post_1200x630.jpg" />
    <meta property="og:description" content="13歲時加入HKT48的我、現在已經是16歲了。有時會被周圍的人說變成熟了、不僅身高長高了13公分、很多方面也都成長了不少。至今為止的3年、還有今後不管是開心還是難過的日子、都想和粉絲們、以及成員們一起走下去。希望今年的總選舉排名能進入前16名。我明白這是非常困難的事情、現在的自己還有許多不成熟的地方、但是我想要和大家一起越過每一座高山。一直以來溫柔的支持我的大家和成員們、今後也要日日精進、為了讓大家有明天也要繼續加油的想法而努力。應援就拜託大家了。" />
    <meta property="og:site_name" content="HKT48 宮脇咲良 台湾応援サイト" />
    <meta property="fb:admins" content="1578702455" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/magnific-popup/dist/magnific-popup.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sakuraApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- TODO: mix full -->
    <div class="full" ng-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8676193-15', 'tpe48.com.tw');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery.stellar/jquery.stellar.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-parallax/scripts/angular-parallax.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/angular-magnific-popup.js"></script>
    <script src="scripts/directives/sticky.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
</body>
</html>
